body{
 background-color:  rgb(176,176,176);
}
.ContentHome{
  background-color: whitesmoke; 
}
.container{
    width: 700px;
    background-color:white;
    margin-top: 190px;
    text-align: center;
    height: 300px;
    padding: 15px;  
    text-align: center;
}
.SignUP_C{
    display: flex;
    justify-content: center;
}

.ReminderContent{
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: black;
  gap: 760px;
}

.CalendarContent{
  height: 530px;
  background-color: whitesmoke;

}
.ContentUser{
  height: 400px;
  display: flex;
  justify-content: center;
   
}
#AboutUser{
  margin-left: 80px;
  font-weight: bold;
}
span{
  font-weight: bold;
}

.Calendar_image{
    border-radius: 10px;
}
.image {
  width: 400px;
  height: 400px;
  overflow: hidden;
}
#ProfilePic {
  max-width: 100%;
  height: auto;
  display: block;
}
h1{
    font-size: 40px;
    font-family: 'Cookie', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Faster One', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Petemoss', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Shalimar', cursive;
    font-family: 'Source Code Pro', monospace;
    
}

button{
    height:50px; width:270px;
    border-radius: 40px;
    font-size: 15px;
    text-transform: uppercas
    e;
    background-color: black;
    color: white;
}
button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
#JoinNowBtn{
  margin-left: 140px;
  border-radius: 20px;
}
.content{
    width: 700px;
    background-color:white;
    text-align: center;
    height: 680px;
    padding: 15px;  
    text-align: center;
   
}
#MissionStatement{
  margin-top: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.fb{
  background-color: black;
  color: white;
  width: 300px;
}
.google{
  background-color: #dd4b39;
  color: white;
  width: 300px;
}
.ContentHome{
  display: flex;
  justify-content: center;
}
input , select{
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#btn_submit{
    text-transform: uppercase;
    background-color: black;
    color: white;
    border-radius: 40px;
}
#btn_submit:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color:black;
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: white;
    text-decoration: none;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  .footer-basic {
    padding:40px 0;
    background-color:black;
    color: white;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color: white;
    margin-bottom:0;
  }
  .dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: black;
  }

.week {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border-top: solid;
  border-width: thin;
  height: 125px;
}

.navi {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: solid;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.labels {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}
 
.datecell {
  width: 14.25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid;
  border-width: thin;
}

.label {
  margin-top: 10px;
  padding: 20px;
  width: 14.25%;
}

.prev {
  margin-top: 10px;
  padding: 20px;
  width: max-content;
}

.next {
  margin-top: 10px;
  padding: 20px;
  width: max-content;
}

.date {
  margin-top: 10px;
  padding: 20px;
  width: max-content;
  border-bottom: solid;
}

.dates {
  height: 100%;
}

.calendar {
  width: 75%;
  border: solid;
  color: black;
  background-color: whitesmoke;
  margin-left: -0.01px;
}
h1{
  text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card{
  text-align: center;
   width: 720px;
   height: 700px;
   background-color: white;
   border: 20px solid;
   border-image: 
   linear-gradient(
     black,
     blue,
     red) 1;
   animation: rotate
   2.5s
   ease-in
   infinite;
 }
 @keyframes rotate{
   50%{
     border-image:
     linear-gradient(
       360deg,
       black,
       blue,
       red) 1;
   }
 }
 #AboutUsHeader{
   text-align: center;
 }

 .AboutUsData{
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  height:700px;
  width:800px;
 }

 a#myBtn {
   color: white;
 }