.labels {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}
.calendar {
  width: 100%;
  color: black;
  margin-left: 1%;
  margin-right: 1%;
}
.calendarContent {
 display: flex;
 align-items: flex-start;
}

.CalendarContent{
  height: 530px;
  background-color: whitesmoke;

}
.Calendar_image{
    border-radius: 10px;
}
.day {
 align-self: flex-start;
 font-weight: bold;
 width: 100%;
}

.dayOrder {
  font-size: 130%;
  width: min-content;
  margin: auto;
 }

.dayNumber {
  padding-left: 5px;
  padding-top: 5px;
}

.dayContent {
 align-self: flex-start;
 padding-left: 10px;
 padding-top: 5px;
 height: 100%;
 overflow-y: auto;
}
.datecell {
  width: 14.25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid;
  border-width: thin;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.575);
}
.datecell:hover{
  background-color: whitesmoke;
}

.dateOrdered {
  background-color: rgb(155 229 142) !important;
}

.dateOrdered:hover{
  background-color: rgb(181 230 172) !important;
}

.week .datecell:nth-child(6), .week .datecell:nth-child(7){
 color: red;
 border-color: #000;
}
.prev {
  padding-top: 20px;
  width: max-content;
  color: rgb(43, 43, 61);
}
.next {
  padding-top: 20px;
  width: max-content;
  color: rgb(43, 43, 61);
}
.label {
  padding: 10px;
  width: 14.25%;
}
.label:nth-child(6), .label:nth-child(7){
 color: red;
}
#InterestLabel{
   font-size: 18px;

 }
.profile-pic .-label {
  cursor: pointer;
  height: 165px;
  width: 165px;
}
.profile-pic:hover .-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .8);
  z-index: 10000;
  color: #fafafa;
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  margin-bottom: 0;
}
.profile-pic .-label {
  cursor: pointer;
  height: 165px;
  width: 165px;
}
.profile-pic:hover .-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, .8);
  z-index: 10000;
  color: #fafafa;
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  margin-bottom: 0;
}
.date {
  margin-top: 10px;
  padding: 10px;
  width: max-content;
 
}
.dates {
  height: 100%;
  border: solid;
}
.week {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border-top: solid;
  border-width: thin;
  height: 100px;

}
.navi {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border-bottom: solid;
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.nav-item {
  color: #006462 !important;
  text-decoration: none !important;
}

.nav-item a {
  color: #006462 !important;
}

.nav-photo {
  width: 220px;
}
